<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body class="p-5">

    <div id="app">

        <form action="">
            <p>Adınız:</p>
            <input type="text" class="form-control col-2" v-model="user.userName">
            <p>Adresiniz:</p>
            <textarea  class="form-control col-2"  v-model="user.userAddress" rows="5"></textarea>
            <hr>
            <label><input type="checkbox" v-model="user.isActive"> Kullanıcı aktif mi? </label>
            <span class="form-text text-muted"> {{ user.isActive }} </span>
            <hr>
            <label><input type="checkbox" v-model="user.selectedRoles" value="manager"> Yönetici </label>
            <label><input type="checkbox" v-model="user.selectedRoles" value="editor"> Editör </label>
            <label><input type="checkbox" v-model="user.selectedRoles" value="customer"> Müşteri </label>
            <br>
            <select v-model="user.selectedRoles" class="form-control col-3" multiple>
                <option value="manager"> Yönetici </option>
                <option value="editor"> Editör </option>
                <option value="customer"> Müşteri </option>
            </select>
            <pre class="form-text text-muted">{{ user.selectedRoles }}</pre>
            <hr>
            <label><input type="radio" v-model="user.userGender" value="male"> Erkek </label>
            <label><input type="radio" v-model="user.userGender" value="female"> Kadın </label>
            <pre class="form-text text-muted">{{ user.userGender }}</pre>
            <hr>
            <span> Doğum yeri: </span>
            <select v-model="user.userPlaceOfBirth" class="form-control col-3">
                <option selected disabled> Seçiniz </option>
                <option v-for="city in cities" :value="city.cityValue"> {{ city.cityName }} </option>
            </select>
            <pre class="form-text text-muted">{{ user.userPlaceOfBirth }}</pre>

        </form>
       

    </div>

    <script src="../assets/js/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            name: 'Uzaktan Kurs',
            data: {
                user:{
                    userName: 'Mecit',
                    userAddress: 'Yenisehir/MERSIN',
                    isActive: true,
                    selectedRoles: [],
                    userGender: 'male',
                    userPlaceOfBirth: 33
                },
                cities: [
                    { cityName: 'Adana', cityValue: '1' },
                    { cityName: 'Ankara', cityValue: '6' },
                    { cityName: 'Mersin', cityValue: '33' },
                    { cityName: 'İstanbul', cityValue: '34' },
                    { cityName: 'İzmir', cityValue: '35' }
                ]
            }
        })
    </script>
</body>
</html