<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body class="p-5">

    <div id="app">

        <div class="form-group row">
            <div class="col-md-2">
                <select v-model="selectedStyle" class="form-control">
                    <option>alert alert-success</option>
                    <option>alert alert-danger</option>
                    <option>alert alert-info</option>
                    <option>alert alert-warning</option>
                </select>
            </div>
            <div class="col-md-10">
                <div :class="selectedStyle">Merhaba</div>
            </div>
        </div>
        <hr>
        <div :class="[bgColor, textColor, 'jumbotron']">
            Birden fazla data değeri çekmek için [dizi] içerisine alıyoruz, ve elle eklemek için 'Tek tırnak' arasına almamız yeterli.
        </div>

        <div class="form-group row">
            <div class="col-md-2">
                <label for="isim">Ismi</label>
                <input type="text" id="isim" v-model="user.userName" :class="{ 'form-control is-valid' : user.userName, 'form-control is-invalid' : !user.userName }" />
                <span>Isminiz {{ user.userName.length }} karakter</span>
            </div>
            <div class="col-md-6">
                <label>Rolu: </label>
                <span :class="{ 'badge badge-success' : user.userRole == 'Admin', 'badge badge-warning' : user.userRole != 'Admin'}"> {{ user.userRole }} "Vue'da class içine koşul verebiliyoruz"</span>
            </div>
        </div>
        <hr>
        <div :style="styles">Merhaba</div>

    </div>

    <script src="../assets/js/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            name: 'Uzaktan Kurs',
            data: {
                selectedStyle: 'alert alert-success',
                bgColor: 'bg-success',
                textColor: 'text-white',
                user: {
                    userId: 1,
                    userName: 'Mecit',
                    userRole: 'Admin'
                },
                styles: {
                    color: 'red',
                    fontSize: '26px' // font-size diye belirtemiyoruz.
                }
            }
        })
    </script>
</body>
</html>